@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: white; */
  --foreground-rgb: black;
  --background-rgb: #089090;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

.all {
  min-height: 1000vh;
  background-color: #089090aa;
}

body {
  background: url('../public/vector.jpg') center  repeat;
  min-height: 10vh;
  color: var(--foreground-rgb);

}

.navbar li:hover {
  cursor: pointer;
}

.imglogo {
  height: 120%;
  width: 200px;
  object-fit: contain;
}

nav.show {
  transform: translateX(-50%) translateY(0);
}


nav.hide {
  transform: translateX(-50%) translateY(-400%);
}